<%- include('partials/header.ejs') %>

<div class="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>/</li>
    <li>Item Details</li>
  </ul>
</div>

<div class="container">
  <h1>Art Piece 1</h1>
  <img src="https://via.placeholder.com/600x400" alt="Art Piece 1">
  <p>A beautiful piece of art from the 18th century.</p>
  <p>Price: $2,000</p>
</div>

<%- include('partials/footer.ejs') %>